{
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "plugins": [
    "prettier",
    "react",
    "react-native",
    "eslint-plugin-import-helpers"
  ],
  "rules": {
    "prettier/prettier": ["error"],
    "global-require": 0,
    "no-use-before-define": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-fragments": 0,
    "react/jsx-props-no-spreading": 0,
    "react-native/no-inline-styles": 2,
    "react-native/no-single-element-style-arrays": 2,
    "react-native/no-unused-styles": 2,
    "react-native/sort-styles": [
      "error",
      "asc",
      { "ignoreClassNames": true, "ignoreStyleProperties": false }
    ]
  },
  "globals": {
    "__DEV__": "readonly",
    "describe": "readonly",
    "expect": "readonly",
    "fetch": "readonly",
    "it": "readonly",
    "jest": "readonly"
  }
}
